<div class="container">
  <mat-card class="cardCategory" data-toggle="modal" data-target="#oxyModal" (click)="serviceName('Hair Colouring')">
    <img src="../../../../assets/bannerImages/hair-colours.jpg" />
    <mat-card-content class="cardBtn">Hair Colouring</mat-card-content>
  </mat-card>
  <mat-card
    class="cardCategory"
    data-toggle="modal"
    data-target="#reechfeelModal"
    (click)="serviceName('Hair Cutting')"
  >
    <img
      src="../../../../assets/bannerImages/haircuting.jpg"
    />
    <mat-card-content class="cardBtn"> Hair Cutting</mat-card-content>
  </mat-card>
  <mat-card class="cardCategory" data-toggle="modal" data-target="#cherylModal" (click)="serviceName('Hair Spa')">
    <img src="../../../../assets/bannerImages/hairspa.jpg" />
    <mat-card-content class="cardBtn">Hair Spa</mat-card-content>
  </mat-card>
</div>
<br />
<!--Hair Colouring-->
<div
  class="modal fade"
  id="oxyModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hair Colouring</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-card>
          <mat-card-content>
            <form #package="ngForm" (ngSubmit)="checkOrder()">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                     <th scope="col">Description</th>
                      <th scope="col">Time(min)</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hairColouring; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <mat-checkbox
                          name="{{ item }}"
                          value="{{ item.name }} {{ item.price }}"
                          [(ngModel)]="item.isSelected"
                          (change)="onchange($event)"
                        ></mat-checkbox>
                      </td>
                      <td>{{ item.name }}</td>
                      <td>{{item.description}}</td>
                      <td>{{ item.time }}</td>
                      <td>{{ item.price }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ul class="checklist">
                <li>Total Price : {{ totalprice }}</li>
                <li>Total Time : {{ totaltime }}</li>
              </ul>
              <button class="btn btn-primary">Add To Cart</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="modal-footer">
        <button
        type="button"
        class="btn btn-secondary"
        (click)="uncheckall()"
        data-dismiss="modal"
      >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Hair Cutting -->
<div
  class="modal fade"
  id="reechfeelModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hair Cutting</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-card>
          <mat-card-content>
            <form #package="ngForm" (ngSubmit)="checkOrder()">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      
                      <th scope="col">Time(min)</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hairCut; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <mat-checkbox
                          name="{{ item }}"
                          value="{{ item.name }} {{ item.price }}"
                          [(ngModel)]="item.isSelected"
                          (change)="onchange($event)"
                        ></mat-checkbox>
                      </td>
                      <td>{{ item.name }}</td>
                      
                      <td>{{ item.time }}</td>
                      <td>{{ item.price }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ul class="checklist">
                <li>Total Price : {{ totalprice }}</li>
                <li>Total Time : {{ totaltime }}</li>
              </ul>
              <button class="btn btn-primary">Add To Cart</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="uncheckall()"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Hair Spa -->
<div
  class="modal fade"
  id="cherylModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hair Spa</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-card>
          <mat-card-content>
            <form #package="ngForm" (ngSubmit)="checkOrder()">
              <div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Time(min)</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of hairSpa; let i = index">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>
                        <mat-checkbox
                          name="{{ item }}"
                          value="{{ item.name }} {{ item.price }}"
                          [(ngModel)]="item.isSelected"
                          (change)="onchange($event)"
                        ></mat-checkbox>
                      </td>
                      <td>{{ item.name }}</td>
                      
                      <td>{{ item.time }}</td>
                      <td>{{ item.price }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ul class="checklist">
                <li>Total Price : {{ totalprice }}</li>
                <li>Total Time : {{ totaltime }}</li>
              </ul>
              <button class="btn btn-primary">Add To Cart</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="uncheckall()"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
