<div class="container">
    <mat-card>
        <mat-card-content>
            <form #package="ngForm">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col"><small>Description</small></th>
                                <th scope="col"><small>Time</small></th>
                                <th scope="col"><small>Price</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of face; let i = index">
                               
                                <td>
                                    <mat-checkbox name="{{item}}" value="{{item.name}} {{item.price}}" [(ngModel)]="item.isSelected" (change)="onchange($event)"></mat-checkbox>
                                </td>
                                <td>{{item.name}}</td>
                                <td><small>{{item.description}}</small></td>
                                <td>{{item.time}}</td>
                                <td>{{item.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="checklist">
                    <li>
                        Total Price : {{totalprice}}&#x20B9;
                    </li>
                    <li>
                        Total Time : <time>{{totaltime}}</time>(in Minute)
                    </li>
                </ul>
                <!-- <h5>Total Time: <time>{{totaltime}}</time>(in Minute)</h5>
                <h5>Total Price: {{totalprice}}&#x20B9;</h5> -->
                <button class="btn btn-primary" (click)="servicename('Massage');checkOrder()"> Add To Cart</button>
            </form>
        </mat-card-content>
        <a (click)="goToHome()"><i class="fa-solid fa-backward"></i></a>
    </mat-card>
</div>