<div style="text-align: center;color:red">
    <h1>
        Shop By Category
    </h1>
</div>
<br>
<div class="contanier">
    <div class="grid-container">
        <mat-card routerLink="/offer">
            <mat-card-header>
                <img src="../../../assets/bannerImages/bestoffer.jpg">
            </mat-card-header>
            <div>
                <mat-card-subtitle class="subtitle">
                    Best Offer
                </mat-card-subtitle>
            </div>
        </mat-card>
        <mat-card routerLink="/bleach">
            <mat-card-header>
                <img src="../../../assets/bannerImages/bleach.jpg">
            </mat-card-header>
            <div>
                <mat-card-subtitle class="subtitle">
                    Bleach
                </mat-card-subtitle>
            </div>
        </mat-card>
        <mat-card routerLink="/hair">
            <mat-card-header>
                <img src="../../../assets/bannerImages/7. Hairs.jpg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Hair
            </mat-card-subtitle>
        </mat-card>
        <mat-card routerLink="/massage">
            <mat-card-header>
                <img src="../../../assets/bannerImages/backmassage.jpg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Massage
            </mat-card-subtitle>
        </mat-card>
        <mat-card routerLink="/threading">
            <mat-card-header>
                <img src="../../../assets/bannerImages/2. Threading.jpg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Therading
            </mat-card-subtitle>
        </mat-card>
        <mat-card routerLink="/face">
            <mat-card-header>
                <img src="../../../assets/bannerImages/facial.jpg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Face
            </mat-card-subtitle>
        </mat-card>
        <mat-card routerLink="/waxing">
            <mat-card-header>
                <img src="../../../assets/bannerImages/5. Waxing.jpg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Waxing
            </mat-card-subtitle>
        </mat-card>
        <mat-card routerLink="/pedimani">
            <mat-card-header>
                <img src="../../../assets/bannerImages/Pedicure.jpg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Pedi / Mani
            </mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <img src="../../../assets/bannerImages/bridal.jpeg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Bridal Packages
            </mat-card-subtitle>
        </mat-card>
        <mat-card>
            <mat-card-header routerLink="/spa">
                <img src="../../../assets/bannerImages/beauty-spa.jpg">
            </mat-card-header>
            <mat-card-subtitle class="subtitle">
                Beauty-Spa
            </mat-card-subtitle>
        </mat-card>
    </div>
</div>
<br>
