<div class='display'>
    <mat-card>
        <mat-card-header>Login</mat-card-header>
        <hr>
        <mat-card-content>
            <form class="example-form">
                <div class="formfield">
                    <mat-form-field appearance="legacy">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Email"/>
                    </mat-form-field>
                </div>
                <div class="formfield">
                    <mat-form-field appearance="legacy">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Password"/>
                    </mat-form-field>
                </div>
                <div class="formfield">
                    <button mat-flat-button color="accent">Login</button>
                </div>
            </form>
            <hr>
        </mat-card-content>
    </mat-card>
</div>
