<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/bannerImages/1banner.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="../../assets/bannerImages/2banner.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img src="../../assets/bannerImages/3banner.jpg" alt="Third slide">
        </div>
    </div>
</div>
<br>
